#ui {
    font-family: Arial, sans-serif;
    background: #FFFFFF;
    position: fixed;
    left: 0%;
    top: 0%;
    transform: translate(0%, 0%);
    width: 270px;
    height: 100%;
    text-align: center;
    overflow: auto;   
    transition: background-color 0.3s ease; 
}

/* Стили для светлой темы */
#ui.light-theme {
    background-color: #ffffff;
    color: #000000;
}

/* Стили для тёмной темы */
#ui.dark-theme {
    background-color: #121212;
    color: #ffffff;
}