

#ui {
    font-family: Arial, sans-serif;
    background: #FFFFFF;
    position: fixed;
    left: 0%;
    top: 0%;
    transform: translate(0%, 0%);
    width: 270px;
    height: 100%;
    text-align: center;
    overflow: auto;   
    transition: background-color 0.3s ease; 
}