body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease;
}

/* Стили для светлой темы */
body.light-theme {
    background-color: #ffffff;
    color: #000000;
}

/* Стили для тёмной темы */
body.dark-theme {
    background-color: #121212;
    color: #ffffff;
}
